.micro-loans-1 {
    height: 100%;
    width: 100%;
    background-image: url('/assets/images/micro-loans-1.jpg');
    background-size: cover;
    background-position: left;
    background-origin: content-box;
}

.micro-loans-2 {
    height: 100%;
    width: 100%;
    background: whitesmoke;
}

.micro-loans-3 {
    height: 100%;
    width: 100%;
    background: lightgrey;
}

.micro-loans-4 {
    height: 100%;
    width: 100%;
    background: whitesmoke;
}