<mat-grid-list cols="1" rowHeight="500px">
    <mat-grid-tile>
        <div class="micro-loans-1">

        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="micro-loans-2">
            State the benefits
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="micro-loans-3">
             What can you use it for
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="micro-loans-4">
            Customer stuff
        </div>
    </mat-grid-tile>
</mat-grid-list>
