<mat-card>
    <mat-card-title>Apply For A Loan.</mat-card-title>
    <mat-vertical-stepper linear>
        <mat-step [stepControl]="personalInfoFormGroup">
            <form [formGroup]="personalInfoFormGroup">
                <ng-template matStepLabel>Personal Info</ng-template>
                <mat-form-field>
                    <input matInput placeholder="First name" formControlName="firstName" required>
                </mat-form-field>
                <mat-form-field>
                        <input matInput placeholder="Last name" formControlName="lastName" required>
                    </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="contactInfoFormGroup">
            <form [formGroup]="contactInfoFormGroup">
                <ng-template matStepLabel>Contact Info</ng-template>
                <mat-form-field>
                    <input matInput placeholder="Email Address" formControlName="email" required>
                </mat-form-field>
                <mat-form-field>
                        <input matInput placeholder="Phone Number" formControlName="phoneNumber" required>
                    </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
    </mat-vertical-stepper>
</mat-card>